.group {
    background-color: #EBF2FA;
    height: 90vh;
    padding: 5vh 5%;
}

.group-main {
    border: 1px solid black;
    height: 100%;
    padding: 0 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.group-main-left {
    width: 40px;
    padding-right: 20px;
    height: 100%;
    border-right: 1px solid black;
}

.group-main-left>img {
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

.group-main-right {
    padding-left: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.group-main-right-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 5px 0;
    margin-top: 10px;
    border-top-right-radius: 27.5px;
    border-bottom-right-radius: 27.5px;
    position: relative;
    overflow: hidden;
}

.group-main-right-header>h1 {
    margin: 0;
}

.group-main-right-header>button {
    width: 50px;
    aspect-ratio: 1/1;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    z-index: 5;
}

.group-main-right-header-createmessage {
    position: absolute;
    height: 50px;
    right: 0;
    padding-left: 10px;
    padding-right: 55px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 27.5px;
    align-items: center;
}

.group-main-right-header-createmessage-slidein {
    animation: slideIn 0.5s forwards;
}

.group-main-right-header-createmessage-slideout {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.group-main-right-content {
    flex: 1;
    border-top: 1px solid #847e7e;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.group-main-right-content-left {
    width: 65%;
    height: 90%;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.group-main-right-content-left>h1 {
    margin: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.group-main-right-content-left>div {
    margin: 30px;
    margin-top: 0;
    border: 1px solid black;
    height: 90%;
}

.group-main-right-content-right {
    width: 30%;
    height: 90%;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.group-main-right-content-right>h1 {
    margin: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.group-main-right-content-right>div {
    margin: 30px;
    margin-top: 0;
    height: 80%;
    overflow-y: auto;
}

.group-members-indiv {
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-main-left-expand {
    position: absolute;
    height: 100%;
    width: 200px;
    border: 1px solid black;
    background-color: white;
    left: -0.5px;
    top: -0.5px;
    z-index: 7;
}

.group-main-left-expand-slidein {
    animation: slideIn2 0.5s forwards;
}

.group-main-left-expand-slideout {
    animation: slideOut2 0.5s forwards;
}


@keyframes slideIn2 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.group-main-left-expand-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.group-main-left-expand-home>img {
    height: 50%;
    margin-right: 10px;
}

.group-main-left-expand-indiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.group-main-left-expand-indiv>p {
    margin: 0;
}

.group-main-right-meetingindiv {
    border-top: 1px solid #847e7e;
    margin-top: 5px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-main-right-meetingindiv-left {
    width: 48%;
    height: 100%;
}

.group-main-right-meetingindiv-left>video {
    width: 100%;
}

.group-main-right-meetingindiv-left>h1 {
    margin: 0;
}

.group-main-right-meetingindiv-left>p {
    margin: 0;
}

.group-main-right-meetingindiv-right {
    width: 50%;
}

.group-main-right-content-meetingindiv-tabs {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.group-main-right-content-meetingindiv-tabs>div {
    border: 1px solid black;
    padding: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 15px;
    width: 32%;
    text-align: center;
    cursor: pointer;
}

.group-main-right-content-meetingindiv-tabs-selected {
    background-color: #938e8e;
    font-weight: bold;
}

.group-main-right-content-meetingindiv-content {
    flex: 1;
    width: 96%;
    border: 1px solid black;
    height: 480px;
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: auto;
}

.group-main-right-meetingUpload {
    flex: 1;
    border-top: 1px solid #847e7e;
    margin-top: 5px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.group-main-right-meetingUpload>h1 {
    margin: 0;
}

.group-main-right-meetingUpload>p {
    margin: 0;
}